@font-face {
    font-family: norseBold;
    src: url(fonts/Norse-Bold.otf)
}

h1 {
    font-family: norseBold, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(imgs/halie-west-sml.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
} 
.right {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 65vw;
}

.first {
    height: 25vh;
    display: flex;
    justify-content: start;
    align-items: end;
    margin-left: 5%;
    margin-bottom: 5px;
}

.second {
    background-color: white;
    height: 33vh;
    box-shadow: 2px 5px #e5e7e8;
}

.secondTitle{
    margin-left: 43px;
    padding-top: 20px;

}

.form-main-div {
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    margin-top: 30px;
    width: 60%;
    justify-content: space-between;
}

form.divs{}

.form-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input{
    width: 200px;
    border: 1px solid #E5E7EB;
    height: 25px;
    border-radius: 5px;
}

input:focus{
    border: 1px solid blue;
}

input:invalid{
    border: 1px solid red;
}

label{
    font-size: 15px;
    color: #3b3b3c;
}

#error {
    color: red;
    font-size: 10px;
    margin: 1px;
}

.btn-green{
    background-color: #596d48;
    color: white;
    border: 1px solid #596d48;
    border-radius: 10px;
    height: 45px;
    width: 200px;
    font-weight: bolder;
    font-size: small;
    box-shadow: 2px 5px #e5e7e8;
}

.third {
    margin: 20px;
    padding-top: 20px;
    margin-left: 40px;
}

.hyperlink{
    margin-left: 50px;
    margin-top: 25px;
}

a{
    color: #596d48;
    text-decoration: none;
    font-weight: bold;
}