@font-face {
    font-family: norseBold;
    src: url(fonts/Norse-Bold.otf)
}

h1 {
    font-family: norseBold, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(imgs/halie-west-sml.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
} 
.right {
    display: flex;
    flex-direction: column;
}