@font-face {
    font-family: norseBold;
    src: url(fonts/Norse-Bold.otf)
}

h1 {
    font-family: norseBold;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.left, .right {
    display: flex;
    justify-content: center;
}